
.diceBox {
  float: left;
  /*border: 1px solid red;*/
}

.diceCube {
  position: relative;
  -webkit-transition: -webkit-transform 2s ease-out;
  -webkit-transform-style: preserve-3d;

  -moz-transition: -moz-transform 2s ease-out;
  -moz-transform-style: preserve-3d;
}

.face {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  border: 1px solid #555;
  border-radius: 3px;
}   

.side1  {
  background-image: url(../assets/images/face1.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.side2 {
  background-image:url(../assets/images/face3.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.side3 {
  background-image: url(../assets/images/face2.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.side4 {
  background-image: url(../assets/images/face4.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.side5 {
  background-image: url(../assets/images/face5.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.side6 {
  background-image: url(../assets/images/face6.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
